/* ################### TIMELINE ################### */
.timeline {
    color: #333;
    position: absolute;
    z-index: 999;
    margin-top: 7vh;
    margin-left: 25vw;
}

.timeline-img {
    width: 100%;
    position: relative;
    display: inline-block;
}

/* ################### STATS ################### */
.stats-img {
    display: block;
    margin: auto;
    padding: 5vh;
    width: 60%;
}

@media (max-width: 1200px) {
    .stats-img {
        width: 90%;
    }
}

.stats {
    text-align: center;
    color: #333;
}

/* ################### EXPANSION ################### */
.about-expansion {
    margin-right: auto;
    margin-left: auto;
    width: 72vw;
}

.expansion {
    padding: 8vh;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.exp {
    padding: 0;
    padding-top: 2vh;
}

.csk-email {
    text-decoration: none;
}

.csk-email:hover {
    color: var(--cskpink);
}

/* ################### FOUNDERS ################### */
.about-organizers {
    scroll-snap-align: start;
    padding: 4vh;
}

.organizer-content {
    width: 72vw;
    margin-right: auto;
    margin-left: auto;
}

.org {
    margin: 0;
    text-align: left;
    width: 100%;
    padding: 0;
}

.organizer-item {
    flex-direction: row;
    display: flex;
    margin: 7vh;
}

.organizer-name {
    font-size: 4vh;
    color: #333;
    margin: 0;
}

.organizer-information {
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
}

.img-circle {
    height: 200px;
    border-radius: 50%;
}

.organizers {
    text-align: right;
    color: #333;
    padding-right: 25vw;
}

@media (max-width: 1200px) {
    .body-text {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        width: 90vw;
    }
}


/* ################### PRESS ################### */
#about-press {
    margin-top: 7vh;
    height: 40vh;
    width: 72vw;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 23vh;
}

.press {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #333;
    font-size: 4vh;
}

.icons {
    text-align: center;
    width: 100%;
    display: inline-block;
}

.icon {
    margin-left: 5%;
    margin-right: 5%;
    width: 15%;
    height: 15%;
}
