/* ################### TIMELINE ################### */
.timeline {
    color: #ffffff;
    position: absolute;
    z-index: 999;
    margin-left: 25vw;
}

.timeline-img {
    width: 100%;
    position: relative;
    display: inline-block;
}

/* ################### STATS ################### */
.stats-img {
    display: block;
    margin: auto;
    padding: 5vh;
}

.stats {
    text-align: center;
    font-size: 5vh;
    color: #333;
}

/* ################### EXPANSION ################### */
.about-expansion {
    margin-right: auto;
    margin-left: auto;
    width: 70vw;
    background-color: #c1d4fc;
    height: 55vh;
}

.expansion {
    padding: 8vh;
    padding-bottom: 0;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.exp {
    color: white;
    padding: 0;
    padding-top: 2vh;
}

.csk-email {
    color: white;
    text-decoration: none;
    font-style: italic;
}

.csk-email:hover {
    text-decoration: underline;
    color: #969696;
}

/* ################### FOUNDERS ################### */
.about-organizers {
    scroll-snap-align: start;
    padding: 4vh;
}

.organizer-content {
    width: 60vw;
    margin-right: auto;
    margin-left: auto;
}

.org {
    margin: 0;
    text-align: left;
    width: 100%;
    padding: 0;
}

.organizer-item {
    flex-direction: row;
    display: flex;
    margin: 7vh;
}

.organizer-name {
    font-size: 4vh;
    color: #333;
    margin: 0;
}

.organizer-information {
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    margin-left: 7vh;
}

.img-circle {
    border-radius: 50%;
}

.organizers {
    text-align: right;
    color: #333;
    padding-right: 25vw;
}


/* ################### PRESS ################### */
#about-press {
    margin-top: 7vh;
    height: 40vh;
    width: 60vw;
    margin-right: auto;
    margin-left: auto;
}

.press {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #333;
    font-size: 4vh;
}

.icons {
    text-align: center;
    width: 100%;
    display: inline-block;
}

.icon {
    margin-left: 5%;
    margin-right: 5%;
    width: 15%;
    height: 15%;
}
