.header-title {
    margin-bottom: 15px;
}

.upcoming-events {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.events-page {
    margin-top: 100px;
}

.calendar {
    margin-top: 50px;
}