/* ################### CONTENT ################### */
.content {
    margin: 4vw 14vw 2vw ;
}
@media (max-width: 1200px){
    .content {
        margin: 3vw 8vw 2vw;
    }
}

@media (max-width: 800px){
    .content {
        margin: 3vw 5vw 1vw;
    }
}

hr {
    width: 70%;
}

/* ################### CARDS ################### */

.card-title{
    font-size: 1.5em;
}

@media (min-width: 991px){
    /* .card{
        min-height: 800px;
    } */
}
