.oneFAQ {
	margin-bottom: 10px;
}

.sponsorFAQ {
	margin-bottom: 10px;
	padding: 5px 90px;
}

@media (max-width: 1200px){
    .oneFAQ {
        padding: 5px 0px;
    }
}

.question {
	font-family: brandon-grotesque, sans-serif;
	font-size: 25px;
  	background-color: rgb(218, 223, 255);
	cursor: pointer;
	padding: 8px 16px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
}

.active, .question:hover {
  	font-weight: bold;
}

.answer {
	font-family: brandon-grotesque, sans-serif;
	font-size: 25px;
  	padding: 0px 16px;
  	max-height: 0;
  	overflow: hidden;
  	transition: max-height 0.2s ease-out;
  	background-color: rgba(218, 223, 255, .4);
}

.answer p {
    padding-top: 20px;
}

.add {
	font-size: 26px;
	font-weight: 700;
	margin-top: 12px;
}