:root {
    --cskfont: #333; /* #333333 */
    --cskfont40: rgba(51, 51, 51, 0.4); /* #333333, but at 40% opacity */
    --cskpink: #FF989B;
    --cskpink60: rgba(253, 207, 193, 0.6); /* pink at 60% opacity */
    --cskpurple: #9BA4FF;
    --cskpurple60: rgba(155, 164, 255, 0.4); /* purple at 60% opacity */
    --cskwhite80: rgba(255, 255, 255, 0.8);
}

body {
    background: white;
    font-weight: 400;
    color: var(--cskfont);
    overflow-x: hidden;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* ################### GENERAL ################### */
body {
    scroll-behavior: smooth;
}

.header {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5vh;
}

@media (max-width: 768px) {
    .header {
        padding-top: 5vh;
    }
}

.about-title {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 4vw;
    background: rgba(255, 255, 255, 0.5);
    color: black;
    margin: 0;
}

.about-banner {
    background-image: url("../imgs/headers/2019.png");
    background-position: center;
    background-size: cover;
    height: 30vw;
}

.committees-banner {
    background-image: url("../imgs/headers/about.jpg");
    background-position: center;
    background-size: cover;
    height: 30vw;
}

.sponsor-banner {
    background-image: url("../imgs/headers/2018 copy.jpg");
    background-position: center;
    background-size: cover;
    height: 30vw;
}

.alumni-banner {
    background-image: url("../imgs/headers/2017.jpg");
    background-position: center;
    background-size: cover;
    height: 30vw;
}

.incoming-banner {
    background-image: url("../imgs/headers/2019 copy.jpg");
    background-position: center;
    background-size: cover;
    height: 30vw;
}

.events-banner {
    background-image: url("../imgs/headers/events.png");
    background-position: center;
    background-size: cover;
    height: 30vw;
}

.body-text {
    margin-right: auto;
    margin-left: auto;
    padding: 5vh;
    text-align: center;
    width: 72vw;
}

@media (max-width: 1200px) {
    .body-text {
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        width: 90vw;
    }
}

.hr {
    width: 50%;
}

/* NAVBAR */

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 400;
}

#mainNavbar .nav-link {
    color: var(--cskwhite80);
}

#mainNavbar .nav-link:hover {
    color: white;
    font-weight: 500;
}

.navbar.scrolled {
    background: var(--cskpurple);
    transition: background 500ms;
}

#logo-img {
    width: 20vw;
}

@media (max-width: 768px) {
    #logo-img {
        width: 30vw;
    }
}

/* SPONSORS */
#sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

#sponsor-logos{
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo img {
    width: 25vw;
    padding: 2.5vw;
    height: auto;
}

/* FOOTER */
.pink-bg {
    padding: 7vh 5vw;
    background-color: var(--cskpink60);
}

.purple-bg {
    padding: 7vh 5vw;
    background-color: var(--cskpurple60);
}

.pink-card {
    background-color: var(--cskpink60);
}

.purple-card {
    background-color: var(--cskpurple60);
}

.bg {
    padding: 15vh 0vw;
}

.bg h3 {
    padding: 2vw;
}

input[type=text] {
    font-family: brandon-grotesque, sans-serif;
    height: 2.5rem;
    width: 35vw;
    padding: 0.5vw;
    display: inline-block;
    border: 0 solid var(--purple);
    border-radius: 1rem;
    box-sizing: border-box;
    box-shadow: 0vw 0.2vw 0.5vw var(--shadow);
}

input[type=submit] {
    color: var(--cskpurple);
    background-color: white;
    border-color: var(--cskpurple);
    padding-left: 2rem;
    padding-right: 2rem;
}

@media (max-width: 1200px) {
    input[type=text] {
        width: 60vw;
    }
}

#social-hosting {
    display: flex;
    flex-direction: column;
}

#social-media {
    display: flex;
    flex-direction: row;
}

.social-logo {
    width: 4vw;
    padding: 5vh 0.5vw 1vh 0.5vw;
}

@media (max-width: 768px) {
    .social-logo {
        width: 10vw;
        padding: 5vh 0.5vw 1vh 0.5vw;
    }
}

/* CALENDAR */
.googleCalendar{
  position: relative;
  width: 60%;
  padding-bottom: 50%;
}

.googleCalendar iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
}
