/* ################### GENERAL ################### */
body {
    scroll-behavior: smooth;
}

.header {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 5vh;
}

.header-title{
    font-size: 5vh;
    color: #333;
    font-family: 'Hammersmith One', sans-serif;
    /*padding-left: 20vh;*/
    margin-bottom: 20px;
}

.body-text {
    font-family: brandon-grotesque, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #333;
    margin-right: auto;
    margin-left: auto;
    padding: 5vh;
    text-align: center;
    width: 55%;
    font-weight: 400;
    font-size: 3vh;
    line-height: 1.5em;
}

.hr {
    width: 50%;
}


img {
    max-width: 100%;
}

.button {
    margin: auto;
    border-radius: 15px;
    box-shadow: 3px 3px 3px #B5B5B5;
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
    align-items: center;
}

.button:hover{
    background-color: #dedede;
}

/* ################### INCOMING ################### */


.gray-box{
    width: 100vw;
    /* position: relative; */
    height: 350px;
    background: #B5B5B5;
}


.incoming-title {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-weight: 600;
    font-size: 6vh;
    position: absolute;
    z-index: 999;
    height: 5vh;
    background: rgba(255, 255, 255, 0.5);
    color: black;
    margin: 0;
    bottom: 0;
    padding: 4vh;
    padding-top: 1vh;
}

.incoming-banner {
    scroll-snap-align: start;
    position: relative;
    display: inline-block;
}

/* ################### TIMELINE ################### */
.timeline {
    margin-left: 20vh;
    margin-right: 20vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
    font-family: 'Hammersmith One', sans-serif;;
    color: #ffffff;
    position: relative;
}

.timeline-img {
    display: block;
    width: 100%;
}

.apply-button {
    margin-top: 15px;
    width: 250px;
    height: 60px;
    font-size: 17px;
    display: block;
}

/* ################### SCHEDULE ################### */

.schedule {
    margin-left: 20vh;
    margin-right: 20vh;
    margin-bottom: 60px;
}

.purple-box {
    width: 80vw;
    height: 350px;
    background: #c1d4fc;
    border-radius: 15px;
}

/* ################### CURRICULUM ################### */

.curriculum{
    margin-left: 20vh;
    margin-right: 20vh;
}

.curriculum-content{
    display: flex;
    align-content: flex-end
}

.body-text-curriculum{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
    /*@media (max-width: 620px) {
      width: 100%;
    }*/
}

.half-purple-box {
    width: 80vw;
    height: 400px;
    margin-right: 10vh;
    background: #c1d4fc;
    border-radius: 15px;
}

.curriculum-placeholder {
    width: 45%;
    /*height: auto;*/
    margin-right: 6vh;
    border-radius: 15px;
}
.text-button{
    align-content: center;
    display: flex;
    flex-direction: column;
}

.demo-button{
    width: 250px;
    height: 60px;
    font-size: 17px;
    margin: 20px;
    align-self: center;
}

/* ################### FAQS ################### */

.faq{
    /*top: 300px;*/
    margin-top: 20px
    margin-bottom: 20px;
    margin-left: 20vh;
    margin-right: 20vh;
}

h1 {
    font-size: 64px;
    font-family: neue-haas-grotesk-text-pro, sans-serif;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 25px;
}

.oneFAQ {
    margin-bottom: 15px;
}

.question {
    font-family: brandon-grotesque, sans-serif;
    font-size: 24px;
    background-color: rgb(218, 223, 255);
    color: black;
    cursor: pointer;
    padding: 10px 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}

.active, .question:hover {
    font-weight: bold;
}

.answer {
    font-family: brandon-grotesque, sans-serif;
    font-size: 20px;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: rgba(218, 223, 255, .4);
}

.faq-email{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    text-align: center;
}



