/* define variables */
:root {
  --font-color: #333; /* #333333 */
  --font-color40: rgba(51, 51, 51, 0.4); /* #333333, but at 40% opacity */
  --pink: #FDCFC1;
  --pink60: rgba(253, 207, 193, 0.6); /* pink at 60% opacity */
  --purple: #DADFFF;
  --purple60: rgba(218, 223, 255, 0.6); /* purple at 60% opacity */
  --shadow: rgba(0, 0, 0, 0.2); /* black at 20% opacity */
}


body {
    margin: 0px; /* the body has default margins of 5px. this get's rid of it */
    display: flex;
    flex-direction: column;
    font-family: brandon-grotesque, sans-serif; /* sans-serif is our back-up if brandon-grotesque doesn't display */
    font-weight: 400; /* how bold a font is */
    font-style: normal; /* italic or not */
    font-size: 3vh; /* height of the font  set to 3% of the webpage's height */
    color: var(--font-color);
}

h2 {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: 5vh;
    font-weight: 700;
    line-height: 2vh;
    text-transform: uppercase;
}

h3 {
    font-size: 4vh;
    line-height: 1vh;
}

h4 {
    font-size: 3vh;
    line-height: 0vh;
    color: var(--font-color40);
    padding-top: 1vw;
}

a { /* properties for links */
    text-decoration: none; /* gets rid of the underline */
    color: var(--font-color); /* changes font color so it's not default blue */
}

.button { /* applies to all elements with the button class */
    border: solid 0.11vw var(--purple); /* applies a solid, purple border of 0.11vw width */
    border-radius: 1vw; /* rounds the corners */
    box-shadow: 0vw 0.1vw 0.3vw var(--shadow); /* applies a shadow to the element (height offset, width offset, blur radius, color) */
    padding: 0vw 3vw 0vw 3vw; /* padding in the order top, right, bottom, left */
    font-weight: 500;
    color: var(--font-color);
    text-align: center;
}

.button:hover { /* a pseudo-selector that says when the element with class button is being hovered over apply the properties below */
    background-color: var(--purple);
}

/* form text input */
input[type=text], select {
    font-family: brandon-grotesque, sans-serif;
    font-size: 1.2vw;
    width: 30vw;
    padding: 0.5vw;
    display: inline-block;
    border: 0.1vw solid var(--purple);
    border-radius: 1vw;
    box-sizing: border-box;
    box-shadow: 0vw 0.2vw 0.5vw var(--shadow);
}

/* form submit button */
input[type=submit] {
    font-family: brandon-grotesque, sans-serif;
    font-size: 1.2vw;
    font-weight: 500;
    width: 10vw;
    padding: 0.5vw;
    background-color: white;
    color: var(--font-color);
    border: 0.1vw solid var(--purple);
    border-radius: 1vw;
    cursor: pointer;
    box-shadow: 0vw 0.2vw 0.5vw var(--shadow);
}

input[type=submit]:hover {
    background-color: var(--purple);
}


/* navbar */
#navbar {
    display: flex; /* needed to use flexbox */
    flex-direction: row; /* aligns elements in a row */
    justify-content: flex-end; /* aligns elements on the right */
    position: fixed; /* fixes navbar to the top of the screen */
    z-index: 1; /* positions it so that it's on top of everything else */
    background-color: white;
    width: 100%;
    box-shadow: 0vw 0.2vw 0.5vw var(--shadow);
}

#navbar a,.drop {
    padding: 1vw 2vw 1vw 2vw;
}

#navbar .nav:hover { /* again using pseudo-selectors */
    text-decoration: underline; /* add an underline to the link being hovered over */
}

.drop-nav { /* for the dropdown items */
    display: none; /* initially hidden */
    top: 4vw;
    position: absolute;
    background-color: white;
    width: 17vw;
    box-shadow: 0vw 0.2vw 0.5vw var(--shadow);
    z-index: 1;
}

.drop:hover .drop-nav { /* dropdown only displayed when hovered over */
  display: block;
}

/* main content */
#main-content {
    display: flex;
    flex-direction: column;
}

.content-section {
    padding: 0vw 0vw 5vw 0vw;
}

/* header */
#header img {
    padding: 4vw 0vw 0vw 0vw;
    width: 100%;
}

#header div {
    font-size: 1.8vw;
    text-shadow: 0.15vw 0.15vw 0.15vw var(--shadow);
    width: 40vw;
    text-align: right;
    color: white;
    position: relative;
    left: 56vw;
    bottom: 9vw;
    font-weight: 600;
}

/* info */
#text {
  margin: 2% 4%;

}

.box1{
  display: inline-block;
  border-radius: 15px;
  /* width:430px;*/
  width:30%;
  height:40rem;
  overflow: auto;
  color: #000000;
  background: #e6e6ff;
  font-family: brandon-grotesque, sans-serif; /* sans-serif is our back-up if brandon-grotesque doesn't display */
  padding: 0.5%;

}
.money{
  color: white;
  text-align: center;

}
#left{
  margin-left: 1.5%;
  margin-right: 1.5%;
}

#right{
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.container{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

#spon-button{
  width: fit-content;
  position: relative;
  /* left: 35%; */
  font-size: 3.5vh;
  font-family: brandon-grotesque, sans-serif;
  padding: 1vw 1vw 1vw 1vw;
  margin: 0 35%;
  border: solid 0.09vw #1a1a1a;
}
/* sponsors */
#sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

#sponsor-logos{
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo img {
    width: 20vw;
    padding: 2.5vw;
    height: auto;
}

/* footer */
#footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2vw 0vw 2vw 0vw;
}

#informed {
    background-color: var(--pink60);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3vw;
}

#footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-link-group {
    display: flex;
    flex-direction: column;
    padding: 0vw 2vw 0vw 2vw;
}

#social-media {
    width: 15vw;
    display: flex;
    flex-direction: row;
    padding: 0vw 2vw 0vw 0vw;
}

.social-logo {
    width: 100%;
    padding: 3vw 0vw 0vw 2vw;
}
